.generalInput{
  display: flex;
  padding: 11px 16px 10px 16px;
  color: var(--Text-Soft, #6C7077);
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px 4px 0px 0px;
  background: var(--Background-Neutral-Default, #F4F5F7);
  border-bottom: 2px solid #AAA;
  height: 48px;
  width: 368px;
}

.generalInput::placeholder{
  color: var(--Text-Soft, #6C7077);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 112.5%; /* 18px */
  letter-spacing: 0.08px;
  
}

.generalInput:focus{
  border: none
}

.labelText{
  color: var(--d-9-d-9-d-9, #731900);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.5%; /* 15.75px */
  letter-spacing: 0.07px;
  margin-bottom: 8px;
}