

.nextButton {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background: var(--d-9-d-9-d-9, #731900);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
  height: 34px;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}

.textButton{
  margin-right: 12px;
}

.nextButton:hover {
  opacity: 50%;
}

.nextButton p{
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
